
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,600;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family:  'Open Sans', sans-serif;
    font-size: 10px;
}

.topoNavegacao {
    display: flex;
    justify-content: space-between;
    background-color: rgb(255, 145, 77) 
}

.logo {
    margin-left: 4vw;
}

.logo img {
    margin-top: 0.5vh;
    height: 9vh;
    
}

.menu{
    margin-right: 4vw;
}

.menu li{
    display: inline;
}

.menu a{
    text-decoration: none; 
	padding: 0 30px;
	line-height: 100px;
	font-size: 1.8em;
	display: inline-block;
    color: rgb(121, 73, 2);
}

.menu a:hover, .active {
	color: #fff !important; 
	border-bottom-color: #fff !important; 
}



/* -------------------SECTION PRINCIPAL-------- */


.principal{
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    background-image: url(./img/iphone.jpg);
    height: 100vh;
    background-size: 100%;
    /* justify-content: start;
    align-items: center; */
}

.princ-div1{
    height: 20vh;
    width: 41vw; 
    grid-column: 5/12;
    grid-row: 14;
}

.princ-div1 p{
    font-size: 3.8em;
    font-weight: bold;
    color: rgb(206, 123, 0);
}

.princ-div1 a p{
    font-size: 1.8em;
    font-weight: bold;
    color: rgb(161, 145, 120);
    margin-top: 15px;
}

.princ-div1 a{
text-decoration: none;
}

.princ-div1 a p:hover{
    font-size: 2.0em;
    color: rgb(58, 58, 58);
    
}

.princ-div2{
    grid-column: 5/12;
    grid-row: 19;
    border-radius: 1.5em;
    height: 20vh;
    border-left: solid 1px rgb(206, 123, 0);
    padding: 2em;
}
.princ-div2 p{
    font-size: 2.5em;
    color: rgb(48, 46, 46);
    font-weight: bold;
    color:  rgb(206, 123, 0);

}
.princ-div2 input {
    height: 6vh;
    width: 14vw;
    outline: 0;
    border-width: 0 0 2px;
    border-color: rgb(206, 123, 0);
    margin-top: 2em;
    background-color: rgb(240, 240, 240);
    font-size: 1em;
}

.princ-div2 input::-webkit-input-placeholder { 
    font-size: 1.6em; 
    padding: 0em 1em;
}


/* ----------------SECTION CONTA-------- */

.conta{
    background-image: url(./img/cartao1.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

.conta-block1 {
    grid-column: 17/30;
    grid-row: 10;
 
}

.conta-block1 span{
    color: rgb(255, 217, 159);
    font-size: 5.3em;
   
}

.conta-block1 a{
    text-decoration: none;
}

.conta-block1 a span:hover{
    color: rgb(255, 82, 7);
    transition: 0.5s;
    
}

.conta-block2 {
    grid-column: 17/27;
    grid-row: 13;
}

.conta-block2 p{
    color: #fff;
    font-size: 3.2em;
    text-align: justify;
}

.conta-block3 {
    grid-column: 17/23;
    grid-row: 16;
}

.conta-block3 a{
    text-decoration: none;    
}

.conta-block3 p{
    color: rgb(255, 217, 159);
    font-size: 2.1em;
}

.conta-block3 p:hover{
    font-weight: 600;
    color: rgb(255, 82, 7);
    transition: 0.5s;
}



/* ----------------SECTION CONTA-------- */

.beneficios{
    background-color: rgb(240, 240, 240);
    height: 100vh;
    display: grid;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
}

.imagem-beneficios {
    grid-column: 17/30;
    grid-row: 7/26;
}

.beneficios img{
    height: 60vh;
}

.lista-beneficios{
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);
    grid-column: 5/20;
    grid-row: 10/25; 
}

.lista-beneficios li {
    list-style: none;
    font-size: 2em;
    margin-top: 1.5em;
} 

.lista-beneficios li strong {
    font-size: 1em;
    font-weight: lighter;
} 

#iconeLista {
    height: 3vh;
}

.btn {
    grid-column: 1/20;
    grid-row: 10;
    border: solid 1px rgb(206, 123, 0);
	color: rgb(206, 123, 0);
    font-weight: bolder ;
	font-size: 1.6em;
	padding: 20px 56px;
	text-decoration: none;
	border-radius: 3px;
	margin-left: 450px;
	display: inline;
}

footer {
    display: grid;
    background-color: black;
    height: 100vh;
    grid-template-columns: repeat(30, 1fr);
    grid-template-rows: repeat(30, 1fr);

}


.titulo{
    color: rgb(114, 112, 112) !important;
    margin-bottom: 2em;
}

.footer-lista li{
    color: #fff;
    font-size: 1.7em;    
    list-style: none;
    margin-top: 0.6em;
}

.f4bank {
    grid-column: 5/9;
    grid-row: 9/16;
}

.produtos {
    grid-column: 10/15;
    grid-row: 9/16;
}

.contato {
    grid-column: 14/19;
    grid-row: 9/16;
}

.ouvidoria {
    grid-column: 20/28;
    grid-row: 9/16;
}


.facebook {
	background-image: url('../img/ico-facebook.png');
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	display: block;
	transition: transform 0.5s;
	
}

.facebook:hover {
	background-image: url('../img/ico-facebook-pb.png'); 
	transform: rotate(45deg);
}

.twitter {
	background-image: url('../img/ico-twitter.png');
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	display: block;
	transition: transform 0.5s;
	
}

.twitter:hover {
	background-image: url('../img/ico-twitter-pb.png'); 
	transform: rotate(45deg);
}

.google {
	background-image: url('../img/ico-googleplus.png');
	background-repeat: no-repeat;
	width: 42px;
	height: 42px;
	display: block;
	transition: transform 0.5s;
	
}

.google:hover {
	/*background-image: url('../img/ico-googleplus-pb.png');*/ 
	filter: grayscale(1);
		-webkit-filter: grayscale(1); /*se usa quando não funcionar*/
		-moz-filter: grayscale(1);
		-o-filter: grayscale(1);
		-ms-filter: grayscale(1);
	transform: rotate(45deg);
}

.socialmedia li{
	margin-right: 10px;
	margin-bottom: 20px;

}

.socialmedia {
    grid-column: 15/20;
    grid-row: 20/25;
}


/*----------------------------------------------
Media Queries
----------------------------------------------*/

/*Para Dispositivos de 980px ou menos*/
@media screen and (max-width: 980px){
	
}

/*Para Dispositivos de 768px ou menos*/
@media screen and (max-width: 768px){
	
	
}

/*Para Dispositivos de 480px ou menos*/
@media screen and (max-width: 480px){
	
	
}

/*Para Dispositivos de 320px ou menos*/
@media screen and (max-width: 320px){	
			
}



